@import "~bootstrap/scss/bootstrap.scss";

h1{
    color: rgb(65, 27, 168);
    font-family: 'Orelega One', cursive;
    font-size: 100px;
    margin: auto;
    text-align: center;

}
body{
    background: whitesmoke;
}

input{
    margin: auto;
    font-family: 'Couier New', Courier, monospace;
}

.card{
    width: 410px;
    height: 20px;
    margin-left: 500px;
}

p{
    margin: auto;
    width: 410px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15px;
    margin-left: 40px;}
    

#lista{
    justify-content: space-between;
    margin: auto;
    width: 400px;
    height: 50px;
    border: 4px ;
}

#texto{
    font-family: 'Courier New', Courier, monospace;}

#lista1{
    margin: auto;
    width: 400px;
    height: 50px;
    border: 4px ;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
